@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn');

body {
    font-family: 'Vazirmatn';
    direction: rtl;
    max-width: 100%;
    overflow-x: hidden;
}

.ltr {
    direction: ltr; 
}